* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div+p {
    background-color: pink;
}


div~span {
    background-color: pink;
}

div .span-class {
    background-color: blue;
}

section {
    padding: 20px;
}

.focus {
    width: 300px;
    height: auto;
    background-color: aliceblue;
}

.focus:focus-within {
    background-color: antiquewhite;
    color: black;
    border: 1px solid black;
}

button {
    padding: 15px 25px;
    border-radius: 30px;
    border: 0;
    background-color: brown;
    color: white;
}

button:focus-visible {
    border: 5px solid red;
}

button:focus {
    box-shadow: 2px 2px 5px 5px black;
}


.check-box label input[type="checkbox"] {
    appearance: none;
    width: 35px;
    height: 25px;
    border: 1px solid black;
    position: relative;
    background-color: rebeccapurple;
}

.check-box label input[type="checkbox"]:checked::after {
    content: '✔';
    font-size: 15px;
    position: absolute;
    top: 0px;
    right: 9px;
    color: white;    
}

.first-li::first-line{
    background-color: green;
    color: white;
}

.first-li::selection{
    background-color: aqua;
    color: yellow;
}

.has-class{
    padding: 10px;
    background-color: gold;
}
.has-class:has(p){
    color: blue;
}
.nth-chiled1 p:nth-last-child(2){
    background-color: blueviolet;
}

.focus .focus-button{
   padding: 15px 20px;
   background-color: aquamarine;
   color: black;
   border-radius: 30px;
}

.focus .focus-button:focus{
   background-color: black;
   color: white;
 }